{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div class="div-img">
        <img id="img" src="{% static 'img/trab-equip.png' %}">
    </div>
    <div>
        <label>É claro que o acompanhamento das preferências de consumo promove a alavancagem da gestão inovadora da qual fazemos parte.</label>
        <br/>
        <label>O que temos que ter sempre em mente é que a crescente influência da mídia promove a alavancagem dos níveis de motivação departamental.</label>
    </div>
</body>
</html>

{% endblock %}